## ALT-Mods
*.exe
*.zip
bin/
obj/
*.editorconfig

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
package-lock.json

## windows
desktop.ini

## ALT-Mods
Faupi-HideoutMod/Project/bin
Faupi-HideoutMod/Project/obj

Faupi-MunitionsExpert/MunitionsExpert/bin
Faupi-MunitionsExpert/MunitionsExpert/obj

KcY-SeeItemValue/itemValue/bin
KcY-SeeItemValue/itemValue/obj